<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../../node_modules/materialize-css/dist/css/materialize.min.css">
  <script src="./../../../node_modules/jquery/dist/jquery.min.js"></script>
  <!-- <link rel="stylesheet" href="./master.css"> -->
  <link rel="stylesheet" href="../../style/master.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ClassOn</title>
</head>

<body>
  <header>
    <nav class="nav-extended amber darken-1">
      <div class="nav-wrapper">
        <a href="../home/home.html" class="brand-logo">ClassOn</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="../home/home.html">Página Inicial</a></li>
          <li><a href="../why-use/home.html">Porque utilizar uma sala de aula virtual</a></li>
          <li><a href="./home.html">Como utilizar o ClassOn</a></li>
          <li><a href="../about/home.html">Sobre nós</a></li>
          <li><a href="../login/home.html">Acessar Conta</a></li>
          <li><a href="../login/home.html">Criar conta</a></li>
        </ul>
      </div>
      <!-- <div class="nav-content center"></div> -->
    </nav>
    <ul class="sidenav amber darken-1" id="mobile-demo">
      <li><a href="../home/home.html">Página Inicial</a></li>
      <div class="divider"></div>
      <li><a href="../why-use/home.html" class="row">Porque utilizar uma sala de aula virtual</a></li>
      <div class="divider"></div>
      <li><a href="./home.html">Como utilizar o ClassOn</a></li>
      <div class="divider"></div>
      <li><a href="../about/home.html">Sobre nós</a></li>
      <div class="divider"></div>
      <li><a href="../login/home.html" class="waves-effect waves-light btn-small">Acessar Conta</a></li>
      <div class="divider"></div>
      <li><a href="../login/home.html" class="waves-effect waves-light btn-small">Criar conta</a></li>
    </ul>
  </header>
  <main class="carousel carousel-slider center">
    <!-- <section class="carousel-fixed-item p-carousel-fixed-item-register">
        <a href="../login/home.html" class="p-button p-button-register grey lighten-2">Não é usuário? Crie já sua conta</a>  
      </section> -->
    <section class="carousel-item c-carousel-one indigo lighten-1">
      <h4>Como utilizar o ClassOn</h4>
      <div class="center video-container">
        <iframe src="https://www.youtube.com/embed/ZUj17EQ9B80" allowfullscreen></iframe>
      </div>
    </section>
    <section class="carousel-item c-carousel-two p-carousel-page cyan darken-2">
      <a href="../how-use/home.html" class="white-text">
        <h4>Como utilizar o ClassOn</h4>
      </a>
      <div class="center">
        <img src="http://via.placeholder.com/300x400" alt="how to use" class="materialboxed responsive-img">
      </div>
    </section>
    <section class="carousel-item c-carousel-thre indigo darken-1">
      <a href="../how-use/home.html" class="white-text">
        <h4>Como utilizar o ClassOn</h4>
      </a>
      <div class="center">
        <img src="http://via.placeholder.com/300x400" alt="how to use" class="materialboxed responsive-img">
      </div>
    </section>
    <section class="carousel-item c-carousel-four deep-purple lighten-1">
      <a href="../about/home.html" class="white-text">
        <h4>Crie já sua conta!</h4>
      </a>
      <div class="center">
        <img src="http://via.placeholder.com/300x300" alt="create account" class="responsive-img">
      </div>
      <br>
      <a class="waves-effect waves-light btn">Acessar Conta</a>
      <div class="hide-on-med-and-down">
        <br>
        <br>
      </div>
      <a class="waves-effect waves-light btn">Criar conta</a>
    </section>
  </main>
  <script src="../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <!-- <script src="../../../node_modules/jquery/dist/jquery.min.js"></script> -->
  <script src="./main.js" type="module"></script>
</body>

</html>