body {
  overflow-y: hidden;
}

nav {
  background-color: #89A9B5;
  height: 12%;
}

.nav-wrapper {
  margin-left: 10px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.p-button-register {
  border: none;
  padding: 15px 30px 15px 30px;
  border-radius: 8px;
  color: rgb(32, 32, 32);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}

.p-button-register:hover {
  cursor: pointer;
}

/* Set Color */

.c-carousel-one {
  background-color: #838CC3;
}

.c-carousel-two {
  background-color: #D5D7DA;
}

.c-carousel-thre {
  background-color: #00BA93;
}

.c-carousel-four {
  background-color: #062736;
}

.number-one {
  color: #ffce5c;
}

/* Page One */

.collection.collection.with-header, .collection.with-header > .collection-header, .collection > .collection-item  {
  background-color: transparent;
  border: none; 
}

.page-one > .p-carousel-explorer > button {
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
}

.why-use {
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-use > .number {
  background-color: rgb(216, 148, 0);
  padding: 7px;
  margin-right: 7px;
  border: white solid 5px;
}